RewriteEngine On # Turn on the rewriting engine
RewriteRule ^user/?$ user.php [NC,L]
RewriteRule ^user/([0-9]+)/?$ user.php?id=$1 [NC,L]
RewriteRule ^auth/?$ auth.php [NC,L]
RewriteRule ^auth/([A-Za-z0-9_-s]+)/?$ auth.php?type=$1 [NC,L]
RewriteRule ^laundry/?$ laundry.php [NC,L]
RewriteRule ^laundry/([0-9]+)/?$ laundry.php?id=$1 [NC,L]
RewriteRule ^notif/?$ notif.php [NC,L]
RewriteRule ^notif/([0-9]+)/?$ notif.php?id=$1 [NC,L]
RewriteRule ^upload/?$ upload.php [NC,L]